{% extends "base.html" %}
{% block content %}
<div class="container" >
          {% if perms.announcement.add_announcement %}
         <button type="submit" class="nav-link btn btn-link"></button>
              <style="display: inline; border: none; background: none; box-shadow: none;" ><a  style="color:black"  href="{% url 'announcement:create_announcement' %}">Add announcement</a></button>
         <link rel="shortcut icon" href="#" />
          {% endif %}
    <br>
     {%  for subject in subject %}
         <a href="{%  url 'announcement:subject' subject.id %}" style="color:black"> {{ subject.subject }} </a>
{%  endfor%}
    </div>
    <div class="col">
        {% for announcement in announcements %}
          <div class="card shadow-sm">
            <div class="card-body">
              <h1 class="card-text">{{announcement.first_name}}</h1>
                <h3>Grade: {{announcement.form}}</h3>
                <h3>City: {{announcement.city}}</h3>
                <h3>Price:{{announcement.price_limit_from}}-{{announcement.price_limit_to}}{{ announcement.currency }}</h3>
                <h3>Level: {{announcement.level_of_knowledge}}</h3>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group"></div>
              </div>
                <a href="{% url 'announcement:announcement' announcement_id=announcement.id %}">View</a>

              </div>
              </div>
            </div>
{% endfor %}
<div class ="container">{% include "pagination.html" with page=announcements %}</div>
{% endblock %}
